#table{
    display: flex;
    justify-content: center;
    align-content: center;
}

.back{
    background-color: crimson;
    margin-left: -26px;
}

.front{
    margin-left: 7px;
    margin-bottom: 10px;
}